.section-clients {
    padding: 75px 0 165px;   

    @media (min-width: 798px) {
        padding: 75px 0 80px;   
    }

    @media (min-width: 1230px) {
        padding: 110px 0 95px;        
        background-image: url("../img/cliens/bg-clients.svg");
        background-repeat: no-repeat;
        background-position: center 156px;
        background-size: auto;
    }
}

.section-clients_title {
    padding-bottom: 45px;
    text-align: center;

  
    @media (min-width: 798px) {
        padding-bottom: 35px;              
    }

    @media (min-width: 1230px) {
        padding-bottom: 80px;

        h2 {
            font-size: 14px;
            letter-spacing: 2.8px;
        }        
    }
}

.section-clients_header {
    padding-bottom: 50px;
    text-align: center;

    @media (min-width: 798px) {
        padding-bottom: 75px;           
    }

    @media (min-width: 1230px) {
        padding-bottom: 95px;       
    }
    
}

.section-clients_carousel {
    max-width: 770px;
    margin: 0 auto;
}


